environment:
    debug: true
local:
    autoconnect: true
    proto: tcp
    host: 'plcontroller.revtr.ccs.neu.edu'
    port: 4380
    pprofaddr: ':55557'
    startscamp: true
    rootca: /server.crt
    interface: eth0
    senderonly: false
scamper:
    host: 'plcontroller.revtr.ccs.neu.edu'
    binpath: /usr/local/bin/scamper
    port: 4381
    rate: 20
    cafile: /server.crt
